@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');
html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto-Slab';
    font-size: 14px;
    color: #EDC737;
    background-color: #333333;
}

.navbar {
    background-color: #EEE2DC !important;
    padding-bottom: 1rem;
}

.navbar li a {
    color: #EDC737 !important;
}

.navbar li a:hover {
    color: yellow !important;
}

.carousel-inner img {
    width: 100%;
    max-height: 50%;
}

.carousel-item {
    font-size: 200%;
    color: lightblue;
    margin-right: 500px;
    text-shadow: 5px 5px 15px #000;
    text-decoration-color: darkslateblue;
    height: 50%;
    max-height: 50%;
    width: 100%;
    max-width: 100%;
}

.btn-primary {
    background-color: ;
    border: 1.5px solid blue;
}

.Fcard {
    font-size: 14px;
    color: #333333;
}

.btn-primary:hover {
    background-color: #123C69;
    border: 1px solid darkblue;
}

.bouton-image:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: #AC3B61;
    background-position: center center;
    background-repeat: no-repeat;
}

.monBouton:before {
    background-image: "vdk.jpg";
}


/* Container needed to position the button. Adjust the width as needed */

.container-img {
    max-height: 10%;
    width: 100%;
}


/* Make the image responsive */

.container-img img {
    width: 100%;
    height: 10%;
}


/* Style the button and place it in the middle of the container/image */

.container-img .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #AC3B61;
    color: white;
    font-size: 15px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container-img .btn:hover {
    background-color: #AC3B61;
}

.welcome hr {
    border-top: 10px solid black;
    width: 95%;
    margin-bottom: 2rem;
}

.social a {
    font-size: 3em;
    /*1em = 16px*/
    padding: 3rem;
    /*1rem = 1 "font-size" */
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

.fa-google-plus-g {
    color: #dd4b39;
}

.fa-instagram {
    color: #7B68EE;
}

.fa-youtube {
    color: #bb0000;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
}

hr.dark {
    border-top: 10px solid #EEE2DC;
    width: 95%;
    margin-bottom: 2rem;
}


/*Media Query*/

@media (max-width: 992px) {
    .carousel-caption {
        top: 20%;
    }
    .carousel-caption h1 {
        font-size: 250%;
    }
    .carousel-caption h3 {
        font-size: 160%;
    }
    .carousel-caption .btn {
        font-size: 120%;
    }
}

@media (max-width: 768px) {
    .carousel-caption {
        top: 20%;
    }
    .carousel-caption h1 {
        font-size: 220%;
    }
    .carousel-caption h3 {
        font-size: 140%;
        padding-bottom: 0.2rem;
    }
    .carousel-caption .btn {
        font-size: 95%;
        padding: 8px 14px;
    }
}

@media (max-width: 576px) {
    .carousel-caption {
        top: 10%;
    }
    .carousel-caption h1 {
        font-size: 150%;
    }
    .carousel-caption h3 {
        font-size: 110%;
    }
    .carousel-caption .btn {
        font-size: 90%;
        padding: 4px 8px;
    }
}


/* Visit https://nicolaskadis.info/projects/pure-css-flip-cards-using-bootstrap-4-and-css-grid-no-js for an explanation */


/* for demo purposes */

.card {
    margin: 12px 1px;
}


/* Flip Cards CSS */

.card-container {
    display: grid;
    perspective: 1000px;
}

.card-flip {
    display: grid;
    grid-template: 1fr / 1fr;
    grid-template-areas: "frontAndBack";
    transform-style: preserve-3d;
    transition: all 1.2s ease;
}

.card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.front {
    background-color: #EEE2DC;
    grid-area: frontAndBack;
}

.back {
    background-color: #EEE2DC;
    grid-area: frontAndBack;
    transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
    transform: rotateY(180deg);
}

footer {
    background-color: #EEE2DC;
    color: #EDC737;
}

footer p {
    font-size: 20px;
}


/* khung lua chon */

.choice-item {
    overflow-x: hidden;
    overflow-y: auto;
    height: 300px;
}

.choice-item ul {
    list-style-type: none;
}

.choice-item li {
    margin: 20px 0px 20px 0;
}


/* zoom hinh khi hover */

.zoom {
    /* padding: 50px; */
    transition: transform .2s;
    /* width: 300px; */
    /* height: 300px; */
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
}